# Virtual environment
venv/

# Python cache
__pycache__/
*.py[cod]

# Environment variables
.env

# VS Code
.vscode/

# Pytest
.pytest_cache/

# SQLite databases (optional)
*.db

# Logs
*.log

#Backupdb 
backup_*.sql